/* font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600&family=Work+Sans:wght@600&display=swap');


/* commmon style */
* {
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;

}

.section-container {
    width: 100%;
    background: rgba(255, 144, 14, 0.1);

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}

.header-titel {
    font-size: 45px;
    font-style: strong;
}

.header-manu {
    width: 477px;
    list-style: none;
    display: flex;
    justify-content: space-around;

}

/* architects section */

.architects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

}

.architects-title h2 {
    font-size: 64px;
    text-align: center;
}

.architects-description {
    font-size: 16px;
    color: #727272;
    text-align: center;
    margin-top: 50px;
}

.architects-button,
.features-button {
    color: white;
    font-size: 20px;
    width: 170px;
    padding: 8px;
    background-color: #FF900E;
    border-radius: 8px;
    text-align: center;
    margin-top: 30px;
}

.architects-banner img{
    width: 100%;
    justify-content: center;
    margin-top: 50px;

}

/* 
features style */

.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 150px;
    gap: 100px;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.features-title {
    font-size: 45px;
    color: #727272;
    font-style: normal;

}

.features-description {
    color: #727272;
    font-size: 16px;
    margin-top: 30px;
}


/* Section-Artical */

.features-artical {
    display: flex;
    justify-content: space-around;
}

.artical-info {
    display: flex;
    align-items: center;
}

.artical-title {
    font-size: 45px;


}

.square {
    height: 105px;
    width: 5px;
    margin-right: 25px;
    background-color: #FF900E;
}

.artical-description {
    font-size: 16px;
    color: #727272;
    margin-top: 25px;

}


/* Dexktop & Mobile Version Article */
.dexktop {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 2px solid #fefefe;
    border-radius: 15px;
    box-shadow: 0px 4px 30px 0px #0000000F;
    margin-top: 40px;
}

.items-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.items-description {
    font-size: 16px;
    color: #727272;
}

.experience-button {
    color: white;
    font-size: 50px;
    padding: 25px;
    text-align: center;
    background-color: #FF900E;
    border-radius: 15px;
    position: absolute;
    left: 45%;
    top: 420%;

}

.artical-image img{
    width: 100%;
}

/* Some-Facts */

.section-some-facts {
    padding: 70px;

}

.box-items {
    margin-top: 50PX;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;




}

.box-item {
    width: 170px;
    height: 170px;
    padding: 30px;
    border: 1px solid #FF900E;
    border-radius: 10px;
    text-align: center;

}

.box-item:hover {
    transform: rotate(360deg);
    transition: 3s transform;
}

.box-number {
    font-size: 45px;
    color: #424242;

}

.box-name {
    font-size: 20px;
    color: #727272;
}

/* Our Sponspors section */

.sponspors {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.sponspors-logo {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    filter: grayscale(1);
    margin-bottom: 70px;

}

/* Contact style */

.contact {
    display: flex;
    padding: 50px;
    justify-content: space-around;
    background-color: slategray;
    gap: 30px;
}

.contact-font {
    margin-bottom: 10px;
    font-size: 20px;
}

.contact-email-button {
    display: flex;
    align-items: center;
}

.contact-email {
    width: 170px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
}

.contact-button {
    width: 120px;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    margin-left: 20px;

}

.contact-icon {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.fa-brands {
    color: black;
    font-size: 30px;
}

/* Footer */

.footer {
    padding: 10px;
    background: #FFF4E7;
    background-position: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Responsive Media Queries */

/* Mobile Media Querie */

@media only screen and (max-width:576px) {
    .header, .header-manu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .features-container{
        flex-direction: column-reverse;   
    }
    .team-image{
        grid-template-columns: repeat(1, 1fr);
    }

    .experience-button{
        position: absolute;
        left: 25%;
        right: 25%;
        top: 675%;
    }

    .features-artical, .sponspors{
        flex-direction: column;
    }
    .sponspors-logo, .contact, .box-items{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}


